:root {
	--body: black;
	--background: #123;
	--primary-color: #ddd;
	--secondary-color: #f0e090;
	--accent-color: #e6bd73;

	--gold: #b79a75;

	--linkColor: #3080d0;
	--linkHoverColor: #d08050;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'OpenDyslexic', 'Raleway', Verdana, sans-serif;
	font-size: 100%;
	color: var(--primary-color);
	background-color: var(--body);
	text-align: center;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	color: var(--primary-color);
	font-size: 2.5em;
	margin: 0;
}

h2 {
	color: var(--secondary-color);
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4, h5, h6 {
	font-size: 1.0em;
}

h4 {
	color: var(--accent-color);
}

p {
	font-size: 1.20em;
}

a {
	display: inline-block;
	min-height: 24px;
	min-width: 24px;
	vertical-align: middle;
	padding: 4px 8px 4px 8px;

	color: var(--primary-color);
	font-weight: bold;
	border-radius: 8px;
}

header,
nav,
footer,
section {
	max-width: 1200px;
	text-align: left;
	background-color: var(--background);
	padding: 0.1em 1em;
	border-radius: 1em;
	margin-top: 1em;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.layout {
	max-width: 1200px; /* Sets the max width */
	margin: 0 auto; /* Centers the layout */
	padding: 20px; /* Adds some spacing */
	text-align: center; /* Centers inline content */
}

.editable {
	cursor: pointer;
	transition: background 0.3s;
}

.editable:focus {
	outline: none;
	background-color: lightyellow;
}

aside {
	/*float: right;*/
	background-color: var(--background);
	border-radius: 1em;
	margin-top: 1em;
	padding: 10px;
}

.container {
	display: flex;
}

.main-content {
	flex: 3; /* Takes most of the space */
	margin-right: 1em;
}

.sidebar {
	flex: 1; /* Smaller section on the right */
}

.character {
	display: block;
	margin: 1em auto;
	border: 2px solid var(--gold);
	background-color: var(--body);
}

.active {
	background-color: lightyellow;
	color: black);
	font-weight: bold;
}

/*.sidebar button:hover {*/
/*	background-color: green;*/
/*}*/

@media screen and (max-width: 799px) {
	.container {
		display: block;
	}
}
