<template name="monsterStats">
	<div class="monster-stats">
		{{#if type}}
			<span class="stat">Type:</span> {{type}} {{subType}}
			<br>
		{{/if}}
		<div class="flex">
			{{#if cr}}
				<span class="stat">CR: </span> {{cr}}&nbsp;&nbsp;&nbsp;&nbsp;
			{{/if}}
			{{#if ac}}
				<span class="stat">AC: </span> {{ac}}&nbsp;&nbsp;&nbsp;&nbsp;
			{{/if}}
			{{#if hp}}
				<span class="stat">HP: </span> {{hp}}&nbsp;&nbsp;&nbsp;&nbsp;
				<br>
			{{/if}}
		</div>
		<div class="flex">
			{{#if speed}}
				<span class="stat">Speed: </span> {{speed}}
				<br>
			{{/if}}
		</div>
		<hr>
		<div class="flex">
			{{#if str}}
				<span class="stat">STR: </span> {{str}} {{strMod}}&nbsp;&nbsp;
			{{/if}}
			{{#if dex}}
				<span class="stat">DEX: </span> {{dex}} {{dexMod}}&nbsp;&nbsp;
			{{/if}}
			{{#if con}}
				<span class="stat">CON: </span> {{con}} {{conMod}}&nbsp;&nbsp;
			{{/if}}
		</div>
		<div class="flex">
			{{#if wis}}
				<span class="stat">WIS: </span> {{wis}} {{wisMod}}&nbsp;&nbsp;
			{{/if}}
			{{#if int}}
				<span class="stat">INT: </span> {{int}} {{intMod}}&nbsp;&nbsp;
			{{/if}}
			{{#if cha}}
				<span class="stat">CHA: </span> {{cha}} {{chaMod}}&nbsp;&nbsp;
				<br>
			{{/if}}
		</div>
		<hr>
		{{#if saves}}
			<div>
				{{#each saves}}
					<span class="stat"> {{key}}_Save: </span> {{value}}&nbsp;
				{{/each}}
			</div>
		{{/if}}
		{{#if skills}}
			<div>
				{{#each skills}}
					<span class="stat"> {{key}}: </span> {{value}}&nbsp;
				{{/each}}
			</div>
		{{/if}}
		{{#if damageVulnerabilities}}
			<div>
				<span class="stat">Damage Vulnerabilities: </span>{{damageVulnerabilities}}
			</div>
		{{/if}}
		{{#if damageResistances}}
			<div>
				<span class="stat">Damage Resistances: </span>{{damageResistances}}
			</div>
		{{/if}}
		{{#if damageImmunities}}
			<div>
				<span class="stat">Damage Immunities: </span>{{damageImmunities}}
			</div>
		{{/if}}
		{{#if conditionImmunities}}
			<div>
				<span class="stat">Condition Immunities: </span>{{conditionImmunities}}
			</div>
		{{/if}}
		{{#if senses}}
			<div>
				<span class="stat">Senses: </span>{{senses}}
			</div>        {{/if}}
		{{#if languages}}
			<div>
				<span class="stat">Languages: </span>{{languages}}
			</div>
		{{/if}}
	</div>
</template>